footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    .name{
        font-weight: 500;
        margin-bottom: 10px;
    }
    .copy{
        font-size: 12px;
        font-weight: 500;
    }
}
